:root{
    --big_main:#0a1f44 ;
    --text_light:#fff ;
    --text_medium: #53627c;
    --text_dark: #1e2432;
    --red:#ff1e42;
    --darkred:#c3112d;
    --orange:#ff8c00;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/* submit button */
button {
cursor: pointer;
}

button,input{
    border: none;
    background: none;
    outline: none;
    color:inherit;
}

img{
    display:block;
    max-width: 100%;
    height: auto;
}

ul{
    list-style:none;
}

body {
    font-size:1.3rem;
    background: var(--big_main);
    color:var(--text_dark);
}

.banner{
    color:var(--text_light);
}
.heading{
    font-weight:bold;
    font-size:4rem;
    letter-spacing:0.02rem;
    padding:0 0 30px 0px;
}
.banner form{
    position: relative;
    display:flex;
    align-items:center;
}
.banner form input {
    font-size:2rem;
    height:40px;
    padding:5px 5px 10px;
    border-bottom:1px solid;
}

.banner form input::placeholder{
    color:currentColor;
}

.banner form button {
    font-size:1 rem;
    font-weight: bold;
    letter-spacing:0.1em;
    padding: 15px 20px;
    margin-left:15px;
    border-radius: 5px;
    background:var(--red);
    transition: background 0.3s ease-in-out;
}

.banner form button:hover{
    background:var(--darkred);
}

.banner form .msg{
    position: absolute;
    bottom: -40px;
    left: 0;
    max-width: 450px;
    min-height:40px;
}


@media screen and (max-width:700px){
    .banner form {
        flex-direction:column;
    }
    

.banner form input,.banner form button {
    width: 100%;
}

.banner form button{
    margin : 20px 0 0 0 ;
}

.banner form .msg {
    position :static;
    max-width: none;
    min-height: 0;
    margin-top:10px;
}




}






