:root{
    --big_main:#1C2D8C;
    --text_light:#f2f2f2 ;
    --text_medium: #53627c;
    --text_dark: #1e2432;
    --blue:#0C2659;
    --dark:#000;
    --orange:#ff8c00;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-weight: normal;
}


a{
    color:inherit;
}

/* submit button */
button {
cursor: pointer;
}

button,input{
    border: none;
    background: none;
    outline: none;
    color:inherit;
}

img{
    display:block;
    max-width: 100%;
    height: auto;
}

ul{
    list-style:none;
}

body {
    font-size:1rem/1.3;
    background: var(--big_main);
    color:var(--text_dark);
}

.banner{
    color:var(--text_light);
}
.heading{
    font-weight:bold;
    font-size:4rem;
    letter-spacing:0.02rem;
    padding:0 0 30px 0px;
}
.banner form{
    position: relative;
    display:flex;
    align-items:center;
}
.banner form input {
    font-size:2rem;
    height:40px;
    padding:5px 5px 10px;
    border-bottom:1px solid;
}

.banner form input::placeholder{
    color:currentColor;
}

.banner form button {
    font-size:1 rem;
    font-weight: bold;
    letter-spacing:0.1em;
    padding: 15px 20px;
    margin-left:15px;
    border-radius: 5px;
    background:var(--blue);
    transition: background 0.3s ease-in-out;
}

.banner form button:hover{
    background:var(--dark);
}

.banner form .message{
    position: absolute;
    bottom: -40px;
    left: 0;
    max-width: 450px;
    min-height:40px;
    font-size:1rem ;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.api-cities {
    margin: 70px 0 20px;

}




/* card styling when the weather data is reeived from the API */


/* section 11 */

.api-cities{
    margin:70px 0 20px;
}
.api-cities .cities{
    display:grid;
    gap:32px 20px;
    grid-template-columns:repeat(4,1fr);
}
.api-cities .city{
    position: relative;
    padding :40px 10%;
    border-radius: 20px;
    background:var(--text_light);
    color: var(--text_medium);
}

.api-cities .city::after{
    content: "";
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: -12px;
    left: 5%;
    z-index: -1;
    opacity: 0.3;
    border-radius: 20px;
    background:var(--text_light);
    
}

.api-cities   figcaption {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing:0.05em;
}
.api-cities  .city-temp{
    font-size:5rem;
    font-weight: bold;
    margin-top: 10px;
    letter-spacing:0.05em;
}
.api-cities .city sup{
    font-size: 0.5em;
}

.api-cities .city-name sup {
    padding: 0.2em 0.6em;
    border-radius:30px;
    color:var(--text_light);
    background:var(--orange);

}

.api-cities .city-icon{
    margin-top: 10px;
    width:100px;
    height:100px;

}

    /* media queries */
    
    @media screen and (min-width:700px){

       
     .banner form input {
        width :50%;
        font-size:1.2rem;
        }
        body{
            padding: 30px;
        }
        .api-cities .cities {
        grid-template-columns:repeat(3,1fr); 
        }

    }
    
    @media screen and (max-width:700px){
    
        .heading,.api-cities .city-temp{
            font-size:3em;
        }
    
        .api-cities{
            margin-top:20px;
        }
        
        .banner form {
            flex-direction: column;
            align-items: flex-start;
    
        }
    
    .banner form input,.banner  form button{
        width: 100%;
    }
    .banner form button {
        margin:20px 0 0 0;
    }
    .banner form .message{
        position: static;
        max-width: none;
        min-height: 0;
        margin-top:10px ;
        font-size: 1rem;
    }
    
    
    .api-cities .cities{
            grid-template-columns:repeat(2,1fr);
        }
    }
    
    @media screen and (max-width:500px){
        body{
            padding:15px;
        }

        .banner form input{
font-size:1em;
        }
            
        .api-cities .cities{
            grid-template-columns:repeat(1,1fr);
        }
    }